<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="left-side">

        <div class="image">
            <img src=https://avatars.githubusercontent.com/u/174670550?v=4"" alt="Profile" class="profile">
        </div>
        
        <div class="title">
            <div class="framework">
                <p>Rovalda VC</p>
            </div>
            <div class="framework">
                <p>Python</p>
            </div>
            <div class="framework">
                <p>Html</p>
            </div>
            <div class="framework">
                <p>Css</p>
            </div>
            <div class="framework">
                <p>Javascript</p>
            </div>
            <div class="framework">
                <p>Later..</p>
            </div>

        </div>
                   
    </div>

    <div class="right-side">

    </div>

    <script src="/static/main.js"></script>
</body>
</html>