<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="left-side">

        <div class="image">
            <img src=https://avatars.githubusercontent.com/u/174670550?v=4"" alt="Profile" class="profile">
        </div>
        
        <div class="title">
            <div class="framework">
                <p>Rovalda VC</p>
            </div>
            <div class="framework">
                <p>Python</p>
            </div>
            <div class="framework">
                <p>Html</p>
            </div>
            <div class="framework">
                <p>Css</p>
            </div>
            <div class="framework">
                <p>Javascript</p>
            </div>
            <div class="framework">
                <p>Later..</p>
            </div>

        </div>
                   
    </div>

    <div class="right-side">

        <div class="up">
            <div class="left">
                <p class="headers">Python</p>
                <p class="section">- Variables and Data Types</p>
                <p class="section">- Operators</p>
                <p class="section">- Control Flow</p>
                <p class="section">- Exception Handling</p>
                <p class="section">- Modules and Packages</p>
                <p class="section">- File Handling</p>
                <p class="section">- Comprehensions</p>
                <p class="section">- Decorators and Generators</p>
                <p class="section">- Object-Oriented Programming (OOP)</p>
                <p class="section">- User Interface (Tkinter)</p>
                <p class="section">- Database (Mongodb)</p>
                <p class="section">- RESTful API (Flask)</p>
            </div>

            <div class="right">

            </div>

        </div>

        <div class="down">

            <div class="left">
                
            </div>
            
            <div class="right">

            </div>

        </div>

    </div>

    <script src="/static/main.js"></script>
</body>
</html>