<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="left-side">

        <div class="image">
            <img src=https://avatars.githubusercontent.com/u/174670550?v=4"" alt="Profile" class="profile">
        </div>
        
        <div class="title">
            <div class="framework">
                <p>Rovalda VC</p>
            </div>
            <div class="framework">
                <p>Python</p>
            </div>
            <div class="framework">
                <p>Html</p>
            </div>
            <div class="framework">
                <p>Css</p>
            </div>
            <div class="framework">
                <p>Javascript</p>
            </div>
            <div class="framework">
                <p>Later..</p>
            </div>

        </div>
                   
    </div>

    <div class="right-side">

        <div class="up">
            <div class="left-up">
                <p class="headers">Python</p>
                <p class="section">- Variables and Data Types</p>
                <p class="section">- Operators</p>
                <p class="section">- Control Flow</p>
                <p class="section">- Exception Handling</p>
                <p class="section">- Modules and Packages</p>
                <p class="section">- File Handling</p>
                <p class="section">- Comprehensions</p>
                <p class="section">- Decorators and Generators</p>
                <p class="section">- Object-Oriented Programming (OOP)</p>
                <p class="section">- User Interface (Tkinter)</p>
                <p class="section">- Database (Mongodb)</p>
                <p class="section">- RESTful API (Flask)</p>
            </div>

            <div class="right-up">
                <div class="upper">
                    <div class="left-side1">
                        <p class="css-header">Html</p>
                        <div class="html-aspect" style="margin-left: 15px;">
                            <p class="html-section">- Basic</p>
                            <p class="html-section">- Text Formatting</p>
                            <p class="html-section">- Links</p>
                            <p class="html-section">- Image & Media</p>
                            <p class="html-section">- Forms</p>
                            <p class="html-section">- Meta & SEO</p>
                        </div>
                    </div>
                    <div class="right-side1">
                        <p class="css-header">Css</p>
                        <div class="css-aspect">
                            <p class="css-section">- Basic</p>
                            <p class="css-section">- Color & Typography</p>
                            <p class="css-section">- Box Model</p>
                            <p class="css-section">- Display & Visibility</p>
                            <p class="css-section">- Flexbox</p>
                            <p class="css-section">- Grid Layout</p>
                            <p class="css-section">- Pseudo-classes</p>
                            <p class="css-section">- Transitions</p>
                            <p class="css-section">- Advanced Effects</p>
                        </div>
                    </div>
                </div>
                <div class="lower">
                    <div class="left-side2">
                        <div class="htmlandcss">
                            <p class="htmlandcssSection">- Responsiv Layouts</p>
                            <p class="htmlandcssSection">- Forms Styling</p>
                            <p class="htmlandcssSection">- Animations</p>
                        </div>
                    </div>
                    <div class="right-side2">
                        <p class="htmlandcssText">Html&Css</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="down">

            <div class="left-down">
                
            </div>
            
            <div class="right-down">

            </div>

        </div>

    </div>

    <script src="/static/main.js"></script>
</body>
</html>